@model IEnumerable<CobroApiP2.Models.Cobros>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Referencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdRemoto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdRuta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Monto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Latitud)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longitud)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EsNulo)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRemoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRuta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsNulo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCobro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCobro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCobro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
